@use "../../presets" as *;
@use "../../mixins" as *;

.brands {
  min-height: 455px;
  background-color: $bgcolor-main-brands;
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-xs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 100px;

    @include ul-sm {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
      row-gap: 20px;
    }
    @include sm {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      row-gap: 20px;
    }
  }
  &__logo {
    width: 100%;
  }
}
