@use "../../presets" as *;
@use "../../mixins" as *;

.job {
  padding-top: 90px;

  @include sm-min {
    padding-bottom: 150px;
  }
  @include lg {
    padding-bottom: 90px;
  }
}

.job-control {
  @extend %job-article;
  @include lg-min {
    padding-bottom: 250px;
  }
  @include lg {
    padding-bottom: $gap-lg;
  }
  @include lg {
    flex-direction: column;
  }
  &-content {
    @extend %job-article-content;
    @include xl-min {
      padding-right: 170px;
    }
  }

  &__title {
    @extend %job-article-title;
  }

  &__description {
    @extend %job-article-description;
  }
  &__action {
    @extend %job-article-action;
  }
  &__link {
    @extend %job-article-link;
  }
  &__picture {
    @extend %job-article-picture;
    @include lg-min {
      justify-content: end;
    }
  }
  &__image {
    @extend %job-article-image;
  }
}

.job-time {
  @extend %job-article;
  @include lg-min {
    padding-bottom: 250px;
  }
  @include lg {
    padding-bottom: $gap-lg;
  }
  @include lg-min {
    flex-direction: row-reverse;
  }
  @include lg {
    flex-direction: column;
  }
  &-content {
    @extend %job-article-content;
    @include xl-min {
      padding-left: 140px;
    }
  }
  &__title {
    @extend %job-article-title;
  }
  &__description {
    @extend %job-article-description;
  }
  &__action {
    @extend %job-article-action;
  }
  &__link {
    @extend %job-article-link;
  }
  &__picture {
    @extend %job-article-picture;
    @include lg-min {
      justify-content: start;
    }
  }
  &__image {
    @extend %job-article-image;
  }
}

.job-quality {
  @extend %job-article;
  @include lg-min {
    padding-bottom: 250px;
  }
  @include lg {
    padding-bottom: $gap-lg;
  }
  @include lg {
    flex-direction: column;
  }
  &-content {
    @extend %job-article-content;
    @include xl-min {
      padding-right: 170px;
    }
  }
  &__title {
    @extend %job-article-title;
  }
  &__description {
    @extend %job-article-description;
  }
  &__action {
    @extend %job-article-action;
  }
  &__link {
    @extend %job-article-link;
  }
  &__picture {
    @extend %job-article-picture;
    @include lg-min {
      justify-content: end;
    }
  }
  &__image {
    @extend %job-article-image;
  }
}

.job-work {
  @extend %job-article;
  @include lg-min {
    flex-direction: row-reverse;
  }
  @include lg {
    flex-direction: column;
  }
  &-content {
    @extend %job-article-content;
    @include xl-min {
      padding-left: 140px;
    }
  }
  &__title {
    @extend %job-article-title;
  }
  &__description {
    @extend %job-article-description;
  }
  &__action {
    @extend %job-article-action;
  }
  &__link {
    @extend %job-article-link;
  }
  &__picture {
    @extend %job-article-picture;
    @include lg-min {
      justify-content: start;
    }
  }
  &__image {
    @extend %job-article-image;
  }
}
