.rating {
  min-height: 330px;
  padding: 90px 0 90px;
  background-color: $bgcolor-main-rating;
  &-flexbox {
    display: flex;
    justify-content: space-between;
  }
  &-header {
    min-width: 810px;
    display: flex;
    gap: 70px;
    align-items: center;
  }
  &-header__title {
    max-width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
  }
  &__logo {
    display: flex;
    gap: 70px;
    align-items: center;
  }
  &__line {
    min-width: 1px;
    min-height: 170px;
    background-color: $color-main;
  }
}
