@use "../../presets" as *;
@use "../../mixins" as *;

.brands {
  min-height: 455px;
  background-color: $bgcolor-main-brands;
  margin-bottom: 90px;
  &__title {
    max-width: 720px;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    color: $color-main;
    font-size: 50px;
    line-height: 60px;
    padding-top: 110px;
    margin-bottom: 70px;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 100px;
    
    // @include xxl-sm {
    //   display: grid;
    //   justify-items: center;
    //   align-items: center;
    //   grid-template: 1fr 1fr / 1fr 1fr 1fr;
    //   row-gap: 20px;
    // }
    // @include sm-max {
    //   display: grid;
    //   justify-items: center;
    //   align-items: center;
    //   grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    //   row-gap: 20px;
    // }
  }
  &__logo {
    width: 100%;
  }
}
