@use "../../presets" as *;
@use "../../mixins" as *;

.upgrade {
  @include xl-min {
    min-height: 1065px;
    padding-top: 155px;
    padding-bottom: 190px;
  }
  @include xl {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &__header {
    text-align: center;
    margin-bottom: 75px;
    @include sm {
      font-size: 30px;
    }
  }
  &__list {
    display: grid;
    gap: $gap-md;
    align-items: baseline;
    @include lg-min {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include lg {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  &__item {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include lg-min {
      gap: $gap-md;
    }
    @include lg {
      gap: $gap-sm;
      align-items: center;
    }
  }
  &__picture {
    order: -1;
    margin-bottom: 15px;
  }
  &__title {
    font-weight: 600;
    line-height: 40px;
    @include lg-min {
      font-size: 30px;
    }
    @include lg {
      font-size: 25px;
    }
  }
  &__description {
    line-height: 1.5;
    @include lg-min {
      font-size: 20px;
    }
    @include lg {
      text-align: center;
    }
  }
  &__link {
    font-size: 20px;
    line-height: 30px;
    color: $color-main;
  }
}
