@use "../../presets" as *;
@use "../../mixins" as *;

.usage {
  @include lg-min {
    padding-top: 165px;
    padding-bottom: 160px;
  }
  @include lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    line-height: 1.15;
    text-align: center;
    padding-bottom: $gap;
    @include xl-min {
      padding-left: 250px;
      padding-right: 250px;
      font-size: 65px;
    }
    @include xl-lg {
      font-size: 55px;
    }
    @include lg-sm {
      font-size: 45px;
    }
    @include sm {
      font-size: 35px;
    }
  }
  &__description {
    line-height: 1.2;
    text-align: center;
    @include xl-min {
      padding-left: 400px;
      padding-right: 400px;
    }
    @include lg-min {
      font-size: 25px;
    }
    @include lg {
      font-size: 20px;
    }
  }
  &__image {
    padding: 25px 0 25px;
    width: 100%;
  }
  &__button {
    @include lg-min {
      min-width: 200px;
      min-height: 60px;
    }
    @include lg-sm {
      font-size: 14px;
      min-width: 150px;
      max-height: 35px;
    }
    @include sm {
      font-size: 14px;
      min-width: 100px;
      max-height: 25px;
    }
  }
}
