@use "../../presets" as *;
@use "../../mixins" as *;

.footer-rights {
  padding-top: 50px;

  border-top: 1px solid $color-main;
  font-size: 12px;
  line-height: 15px;
  &-container {
    display: flex;
    gap: 10px;
    @include sm-min {
      justify-content: space-between;
      flex-direction: row;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
  &-info {
    display: flex;
    gap: 15px;
    @include sm-min {
      flex-direction: row;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
    }
    &__description {
      max-width: 300px;
      @include sm {
        text-align: center;
      }
    }
  }
  &-copyrights {
    @include sm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
