.header {
  min-height: 960px;
}
.line {
  position: absolute;
  min-height: 1px;
  width: 100%;
  background-color: $bgcolor-header;
  top: 100px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container--header-content {
  display: flex;
  align-items: center;
}
.navbar {
  min-height: 95px;
  padding: 1em 0 1em;
  display: flex;
  gap: 50px;
  align-items: center;
  &-flexbox {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__logo {
    &__image {
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    li {
      list-style: none;
    }
  }
  &__item {
  }
  &__link {
    line-height: 20px;
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  &__submit {
    min-width: 120px;
    max-height: 45px;
    border: 1px solid $color-main;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: $color-main;
  }
  &__trial {
    min-width: 120px;
    max-height: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: $color-header-white;
    background-color: $bgcolor-header-link;
  }
}
.header-content {
  min-height: 630px;
  &-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  &-container {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
  }
  &__description {
    font-size: 25px;
    line-height: 35px;
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: -25px;
  }
  &__trial {
    min-width: 160px;
    max-height: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: $color-header-white;
    background-color: $bgcolor-header-link;
  }
  &__demo {
    min-width: 160px;
    max-height: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border: 1px solid $border-color-header;
  }
  &__footer {
    line-height: 25px;
  }
  &__image {
    margin: 0;
    padding: 0;
  }
}
