:root {
  --bgcolor-comment: #c9e8f2;
  --color-black: #000000;
}
.comment {
  min-height: 470px;
  background-color: var(--bgcolor-comment);
  padding: 50px 0 105px;
  &-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  &-content {
    max-width: 920px;
  }
  &__description {
    font-size: 30px;
    line-height: 40px;
    color: var(--color-black);
    margin-bottom: 25px;
  }
  &_name {
    line-height: 25px;
    color: var(--color-black);
    margin-bottom: 10px;
  }
  &__logo {
  }
  &__photo {
  }
}
