:root {
  --bgcolor-rating: #dabc98;

  --color-black: #000000;

  --border-black: rgba(0, 0, 0, 0.5);
}

.rating {
  min-height: 330px;
  padding: 90px 0 90px;
  background-color: var(--bgcolor-rating);
  &-flexbox {
    display: flex;
    justify-content: space-between;
  }
  &-header {
    min-width: 810px;
    display: flex;
    gap: 70px;
    align-items: center;
  }
  &-header__image {
  }
  &-header__title {
    max-width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: var(--color-black);
  }
  &__logo {
    display: flex;
    gap: 70px;
    align-items: center;
  }
  &__line {
    min-width: 1px;
    min-height: 170px;
    background-color: var(--color-black);
  }
  &__logo-1 {
  }
  &__logo-2 {
  }
}
