@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik LCG;
  src: url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$color-main: #000000;
$bgcolor-main: #ffffff;

$color-header-white: #ffffff;
$bgcolor-header: #cccccc;
$bgcolor-header-link: #ff6336;
$border-color-header: rgba(0, 0, 0, 0.5);

$bgcolor-main-brands: #ff9c7d;

$bgcolor-main-job-item: #fcf6df;

$bgcolor-main-options: #fff8e4;

$bgcolor-main-comment: #c9e8f2;

$bgcolor-main-rating: #dabc98;

$bgcolor-main-trial: #ff9c7d;
$bgcolor-main-trial-link: #000000;
$color-main-trial-link: #ffffff;

$bgcolor-main-usage-link: #ff6336;
$color-main-usage-link: #ffffff;

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: "Graphik LCG";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  background-color: $bgcolor-main;
  overflow-x: hidden;
}
p {
  margin: 0;
}
h1,
h2 {
  margin: 0;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}
@import "header";
@import "section-brands";
@import "section-job";
@import "section-options";
@import "section-upgrade";
@import "section-comment";
@import "section-rating";
@import "section-usage";
@import "section-trial";
