@use "../presets" as *;
@use "mixins" as *;

%job-article {
  display: flex;
  align-items: center;

  @include xl-min {
    column-gap: $gap;
  }
  @include xl-lg {
    column-gap: $gap;
  }
  @include lg {
    row-gap: $gap;
  }
}

%job-article-content {
  display: flex;
  flex-basis: 150px;
  flex-direction: column;
  flex-grow: 1;

  row-gap: 30px;
}

%job-article-title {
  @include lg {
    text-align: center;
  }
}

%job-article-description {
  line-height: 1.5;

  @include md-min {
    font-size: 20px;
  }
  @include lg {
    text-align: center;
  }
}
%job-article-action {
  @include lg {
    text-align: center;
  }
}

%job-article-link {
  font-size: 20px;
  font-weight: 600;
}
%job-article-picture {
  display: flex;
  flex-basis: 150px;
  flex-grow: 1;
}
%job-article-image {
  @include sm-min {
    width: 100%;
  }
  @include sm {
    width: 75%;
  }
}
