@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: flex;
  align-items: center;

  padding-top: 130px;
  padding-bottom: 80px;

  @include lg-min {
    flex-direction: row;
  }
  @include lg {
    align-items: center;
    flex-direction: column;

    row-gap: $gap;
  }
  &-container {
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    flex-grow: 1;

    gap: 50px;
    @include lg {
      align-items: center;
      flex-direction: column;
    }
  }
  &__image {
    display: flex;
    align-items: baseline;
    flex-basis: 200px;
    flex-grow: 1;
    justify-content: center;
  }
  &__img {
    @include lg-min {
      width: 100%;
    }
    @include lg {
      width: 70%;
    }
  }
  &__title {
    font-weight: 600;
    line-height: 1.08;

    @include xl-min {
      font-size: 65px;
    }
    @include xl-lg {
      font-size: 55px;
    }
    @include lg-sm {
      text-align: center;

      font-size: 45px;
    }
    @include sm {
      text-align: center;

      font-size: 40px;
    }
  }
  &__description {
    padding-right: 160px;

    line-height: 1.4;

    @include xl-min {
      font-size: 25px;
    }
    @include xl-lg {
      font-size: 25px;
    }
    @include lg-sm {
      padding: 0;

      text-align: center;

      font-size: 20px;
    }
    @include sm {
      padding: 0;

      text-align: center;

      font-size: 20px;
    }
  }
  &__actions {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: -25px;

    gap: 10px;
  }
  &__trial {
    @include ul-min {
      min-width: 160px;
      min-height: 60px;
    }
    @include ul-sm {
      min-width: 130px;
      max-height: 35px;

      font-size: 14px;
    }
    @include sm {
      min-width: 100px;
      max-height: 25px;

      font-size: 14px;
    }
  }
  &__demo {
    @include ul-min {
      min-width: 160px;
      min-height: 60px;
    }
    @include ul-sm {
      min-width: 130px;
      max-height: 35px;

      font-size: 14px;
    }
    @include sm {
      min-width: 100px;
      max-height: 25px;

      font-size: 14px;
    }
  }
  &__free {
    line-height: 1.67;
  }
}
