@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  @include lg-min {
    flex-direction: row;
  }
  @include lg {
    flex-direction: column;
    align-items: center;
    row-gap: $gap;
  }
  &-container {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include lg {
      flex-direction: column;
      align-items: center;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 200px;
    align-items: baseline;
  }
  &__img {
    @include lg-min {
      width: 100%;
    }
    @include lg {
      width: 70%;
    }
  }
  &__title {
    font-weight: 600;
    line-height: 1.08;
    @include xl-min {
      font-size: 65px;
    }
    @include xl-lg {
      font-size: 55px;
    }
    @include lg-sm {
      text-align: center;
      font-size: 45px;
    }
    @include sm {
      text-align: center;
      font-size: 40px;
    }
  }
  &__description {
    line-height: 1.4;
    padding-right: 160px;
    @include xl-min {
      font-size: 25px;
    }
    @include xl-lg {
      font-size: 25px;
    }
    @include lg-sm {
      text-align: center;
      padding: 0;
      font-size: 20px;
    }
    @include sm {
      text-align: center;
      padding: 0;
      font-size: 20px;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: -25px;
  }
  &__trial {
    @include ul-min {
      min-width: 160px;
      max-height: 45px;
    }
    @include ul-sm {
      font-size: 14px;
      min-width: 130px;
      max-height: 35px;
    }
    @include sm {
      font-size: 14px;
      min-width: 100px;
      max-height: 25px;
    }
  }
  &__demo {
    @include ul-min {
      min-width: 160px;
      max-height: 45px;
    }
    @include ul-sm {
      font-size: 14px;
      min-width: 130px;
      max-height: 35px;
    }
    @include sm {
      font-size: 14px;
      min-width: 100px;
      max-height: 25px;
    }
  }
  &__free {
    line-height: 1.67;
  }
}
