@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  &-menu {
    position: relative;

    min-height: 95px;

    @include md-min {
      display: flex;
      align-items: center;

      gap: 50px;
    }
    @include md {
      display: grid;

      padding-top: $gap;
      padding-bottom: $gap;

      grid-template-areas: "logo" "acn" "nav";
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      row-gap: $gap;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 100vw;
      height: 1px;
      margin-left: -50vw;

      content: "";

      background-color: #cccccc;
    }
    &-submit {
      @include ul-min {
        min-width: 120px;
        max-height: 45px;
      }
      @include ul {
        min-width: 100px;
        max-height: 25px;

        font-size: 14px;
      }
    }
    &-trial {
      @include ul-min {
        min-width: 120px;
        max-height: 45px;
      }
      @include ul {
        min-width: 100px;
        max-height: 25px;

        font-size: 14px;
      }
    }
  }
  &-logo {
    align-self: center;

    grid-area: logo;
    @include lg {
      flex-basis: 10%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  &-navbar {
    flex-grow: 1;

    grid-area: nav;
    @include lg {
      flex-basis: 10%;
      flex-grow: 1;
      flex-shrink: 0;
    }
    &-hamburger {
      position: relative;
      top: 0;

      width: 30px;
      height: 22.5px;
      margin: 0 auto;

      cursor: pointer;
      transition: 0.5s ease-in-out;
      transform: rotate(0deg);

      @include lg-min {
        display: none;
      }
      &-row {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        transition: 0.25s ease-in-out;
        transform: rotate(0deg);

        opacity: 1;
        border: none;
        border-radius: 3px;
        background: $bgcolor-btn-coloured;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 9px;
        }
        &:nth-child(3) {
          top: 18px;
        }
      }
      &.active span {
        &:nth-child(1) {
          top: 9px;

          transform: rotate(135deg);
        }
        &:nth-child(2) {
          left: -30px;

          opacity: 0;
        }

        &:nth-child(3) {
          top: 9px;

          transform: rotate(-135deg);
        }
      }
    }
    &__list {
      display: flex;
      align-items: center;
      flex-grow: 1;

      @include ul-min {
        column-gap: 50px;
      }
      @include ul-lg {
        column-gap: 30px;
      }
      @include lg {
        position: absolute;
        top: 101%;
        right: -$gap;
        left: -$gap;

        display: none;

        padding-top: $gap-sm;
        padding-bottom: $gap-sm;

        text-align: center;

        background-color: rgba($bgcolor-main, 0.98);
        box-shadow: 0 5px 5px rgba($color-main, 0.25);
      }
    }
    &__item {
      @include lg {
        padding: 0.75em;
      }
    }
  }
  &-actions {
    display: flex;
    justify-content: flex-end;

    gap: 10px;
    grid-area: acn;
    @include lg {
      flex-basis: 10%;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
