@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &-menu {
    position: relative;
    min-height: 95px;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100vw;
      height: 1px;
      margin-left: -50vw;
      content: "";
      background-color: #cccccc;
    }
    @include md-min {
      display: flex;
      gap: 50px;
      align-items: center;
    }
    @include md {
      padding-top: $gap;
      padding-bottom: $gap;
      display: grid;
      grid-template-areas: "logo" "acn" "nav";
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      row-gap: $gap;
    }
    &-submit {
      @include ul-min {
        min-width: 120px;
        max-height: 45px;
      }
      @include ul {
        font-size: 14px;
        min-width: 100px;
        max-height: 25px;
      }
    }
    &-trial {
      @include ul-min {
        min-width: 120px;
        max-height: 45px;
      }
      @include ul {
        font-size: 14px;
        min-width: 100px;
        max-height: 25px;
      }
    }
  }
  &-logo {
    grid-area: logo;
    align-self: center;
    @include lg {
      flex-grow: 1;
      flex-basis: 10%;
      flex-shrink: 1;
    }
  }
  &-navbar {
    grid-area: nav;
    flex-grow: 1;
    @include lg {
      flex-grow: 1;
      flex-basis: 10%;
      flex-shrink: 0;

      &-hamburger {
        width: 30px;
        height: 22.5px;
        position: relative;
        top: 0;
        margin: 0 auto;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        @include lg-min {
          display: none;
        }
        &-row {
          border: none;
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: $bgcolor-btn-coloured;
          border-radius: 3px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2) {
            top: 9px;
          }
          &:nth-child(3) {
            top: 18px;
          }
        }
        &.active span {
          &:nth-child(1) {
            top: 9px;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
            left: -30px;
          }

          &:nth-child(3) {
            top: 9px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  &-actions {
    grid-area: acn;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    @include lg {
      flex-grow: 1;
      flex-basis: 10%;
      flex-shrink: 0;
    }
  }
}
.navbar {
  &__list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    @include ul-min {
      column-gap: 50px;
    }
    @include ul-lg {
      column-gap: 30px;
    }
    @include lg {
      display: none;
      position: absolute;
      top: 101%;
      right: -$gap;
      left: -$gap;
      text-align: center;
      padding-top: $gap-sm;
      padding-bottom: $gap-sm;
      background-color: rgba($bgcolor-main, 0.98);
      box-shadow: 0 5px 5px rgba($color-main, 0.25);
    }
  }
  &__item {
    @include lg {
      padding: 0.75em;
    }
  }
}
