$color-main: #000000;
$bgcolor-main: #ffffff;

$color-header-white: #ffffff;
$bgcolor-header: #cccccc;
$bgcolor-header-link: #ff6336;
$border-color-header: rgba(0, 0, 0, 0.5);

$bgcolor-main-brands: #ff9c7d;

$bgcolor-main-job-item: #fcf6df;

$bgcolor-main-options: #fff8e4;

$bgcolor-main-comment: #c9e8f2;

$bgcolor-main-rating: #dabc98;

$bgcolor-main-trial: #ff9c7d;
$bgcolor-main-trial-link: #000000;
$color-main-trial-link: #ffffff;

$bgcolor-main-usage-link: #ff6336;
$color-main-usage-link: #ffffff;

$bgcolor-footer: #eeeeee;
