$color-main: #000000;
$bgcolor-main: #ffffff;
$border-color-btn-light: rgba(0, 0, 0, 0.5);
$border-color-btn-coloured: #ff6336;
$border-color-btn-black: #000000;
$color-btn-light: #000000;
$color-btn-coloured: #ffffff;
$color-btn-black: #ffffff;
$bgcolor-btn-light: #ffffff;
$bgcolor-btn-coloured: #ff6336;
$bgcolor-btn-black: #000000;
$bgcolor-header: #cccccc;
$bgcolor-main-brands: #ff9c7d;
$bgcolor-main-job-item: #fcf6df;
$bgcolor-main-options: #fff8e4;
$bgcolor-main-comment: #c9e8f2;
$bgcolor-main-rating: #dabc98;
$bgcolor-main-trial: #ff9c7d;
$bgcolor-main-trial-link: #000000;
$color-main-trial-link: #ffffff;
$bgcolor-footer: #eeeeee;
