@use "../presets" as *;

.container {
  max-width: $ul;
  margin: 0 auto;
  padding-left: $gap;
  padding-right: $gap;
}

.btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color-btn-light;
  color: $color-btn-light;
  background-color: $bgcolor-btn-light;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
.btn-coloured {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color-btn-coloured;
  color: $color-btn-coloured;
  background-color: $bgcolor-btn-coloured;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
